<!--===============================================================================================-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<style>

.timeline-steps {
    display: flex;
    

    justify-content: center;
    flex-wrap: wrap
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction:column;
    position: relative;
    margin: 1rem
}

@media (min-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }
    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .3125rem
    }
}

.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #3b82f6
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background-color: #3b82f6;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5
}
</style>
<body class="">





    <!-- Shoping Cart -->
    <form class="bg0 p-t-75 p-b-85">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                    <div class="m-l-25 m-r--38 m-lr-0-xl">
                        <div class="  wrap-table-shopping-cart">
                            <table class="table-shopping-cart">
                                <tr class="table_head">
                                    <th class="column-1">Product</th>
                                    <th class="column-2"></th>
                                    <th class="column-3">Price</th>
                                    <th class="column-4"></th>
                                    <th class="column-5"></th>
                                    <th class="column-5"></th>

                                    
                                </tr>

                                {{#each order}}

                                    <tr class="table_row " id="">
                                        <td class="column-1">
                                            <div class="how-itemcart1">
                                                <div>
                                                    <img src="{{this.products.cartItems.image.[0].iamge_url}}"
                                                        alt="IMG">
                                                    <p style="font-size: 0.7rem;">{{this.products.cartItems.title}}</p>
                                                    <br>
                                                </div>

                                            </div>
                                        </td>
                                        <td class="column-2">
                                            <p style="font-size: 0.9rem;font-weight: bold;">Size:
                                                {{this.products.productSize.size}}</p>
                                            <p style="font-size: 0.9rem;font-weight: bold;">Qty:
                                                {{this.products.products.count}}</p>
                                            <p style="font-size: 0.9rem;font-weight: bold;">price:
                                                &#x20B9;{{this.products.cartItems.price}}</p>

                                        </td>
                                        <td class="column-3">&#x20B9;{{this.products.eachTotal}}</td>
                                        <td class="column-4">
                                            {{#isSelectOrderCancel this.products.orderStatus}}
                                            {{else}}
                                            <button type="button"
                                                class="flex-c-m stext-101 cl0 size-101 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer"
                                                data-bs-toggle="modal"
                                                data-bs-target="#exampleModalwe{{this.products._id}}">CancelOrder</button>
                                                {{/isSelectOrderCancel}}
                                        </td>
                                       
                                        <td class="column-5"></td>
                                        <td class="column-5"></td>

                                    </tr>
                                    <tr class="w-100">
                                        <td class="column-3" colspan="7">
                                            <div class="container-fluid">
                                                

                                                <div class="row">
                                                    <div class="col">
                                                        <div class="d-flex flex-row timeline-steps aos-init aos-animate "
                                                            data-aos="fade-up">
                                                            {{#each this.products.orderStatus}}
                                                            <div class="timeline-step">
                                                                <div class="timeline-content" data-toggle="popover"
                                                                    data-trigger="hover" data-placement="top" title=""
                                                                    data-content="{{this.status}}"
                                                                    data-original-title="{{theDate this.date}}">
                                                                    <div class="inner-circle"></div>
                                                                    <p class="h6 mt-3 mb-1">{{theDate this.date}}</p>
                                                                    <p class="h6 text-muted mb-0 mb-lg-0">{{this.status}}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            {{/each}}
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>






                                {{/each}}


                            </table>
                        </div>


                    </div>
                </div>


            </div>
        </div>
    </form>
   





    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>



    <!--===============================================================================================-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>



</body>

</html>