<div class="container mt-5 mb-5">

        <div class="row d-flex justify-content-center">

            <div class="col-md-8">

                <div class="card">


                        <div class="text-left logo p-2 px-5">

                            <img src="/userpage/images/logos/reflection-1 (1).png" width="150px" >
                            


                        </div>

                        <div class="invoice p-5">

                            <h5>Your order Confirmed!</h5>

                            <span class="font-weight-bold d-block mt-4" style="text-transform: uppercase;">{{userOrder.deliveryAddress.firstName}} {{userOrder.deliveryAddress.firstName}}</span>
                            <span>You order has been confirmed and will be shipped in next two days!</span>

                            <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">

                                <table class="table table-borderless">
                                    
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="py-2">

                                                    <span class="d-block text-muted">Order Date</span>
                                                <span></span>
                                                    
                                                </div>
                                            </td>

                                            <td>
                                                <div class="py-2">

                                                    <span class="d-block text-muted">Order No</span>
                                                <span>{{userOrder._id}}</span>
                                                    
                                                </div>
                                            </td>

                                            <td>
                                                <div class="py-2">

                                                    <span class="d-block text-muted">Payment</span>
                                                <span>{{userOrder.paymentType}}</span>
                                                    
                                                </div>
                                            </td>

                                            <td>
                                                <div class="py-2">

                                                    <span class="d-block text-muted">Shiping Address</span>
                                                <span>{{userOrder.deliveryAddress.address}},{{userOrder.deliveryAddress.country}},{{userOrder.deliveryAddress.state}},{{userOrder.deliveryAddress.zip}}</span>
                                                    
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>




                                
                            </div>




                                <div class="product border-bottom table-responsive">

                                    <table class="table table-borderless">

                                    <tbody>
                                        {{#each userOrder.products}}
                                        <tr>
                                            <td width="20%">
                                            
                                            <img src="{{this.cartItems.image.[0].iamge_url}}" width="90">

                                        </td>
                                    
                                        <td width="60%">
                                            <span class="font-weight-bold">{{this.cartItems.title}}</span>
                                        
                                        </td>
                                        <td width="20%">
                                            <div class="text-right">
                                                <span class="font-weight-bold">Qty:{{this.products.count}} </span>
                                                <span class="font-weight-bold"> x{{this.cartItems.price}}</span>

                                                <span class="font-weight-bold">${{this.eachTotal}}</span>
                                            </div>
                                        </td>
                                        </tr>
                                        {{/each}}


                                    
                                    </tbody> 
                                        
                                    </table>
                                    


                                </div>



                                <div class="row d-flex justify-content-end">

                                    <div class="col-md-5">

                                        <table class="table table-borderless">

                                            <tbody class="totals">

                                                <tr>
                                                    <td>
                                                        <div class="text-left">

                                                            <span class="text-muted">Subtotal</span>
                                                            
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="text-right">
                                                            <span>${{userOrder.subTotal}}</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="text-left">

                                                            <span class="text-muted">Discount</span>
                                                            
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="text-right">
                                                            <span>${{userOrder.offerPrice}}</span>
                                                        </div>
                                                    </td>
                                                </tr>


                                                 <tr>
                                                    
                                                    
                                                </tr>


                                                 


                                                 {{!-- <tr>
                                                    <td>
                                                        <div class="text-left">

                                                            <span class="text-muted">Discount</span>
                                                            
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="text-right">
                                                            <span class="text-success">$168.50</span>
                                                        </div>
                                                    </td>
                                                </tr> --}}


                                                 <tr class="border-top border-bottom">
                                                    <td>
                                                        <div class="text-left">

                                                            <span class="font-weight-bold">Total Price</span>
                                                            
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="text-right">
                                                            <span class="font-weight-bold">${{userOrder.totalPrice}}</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                            
                                        </table>
                                        
                                    </div>
                                    


                                </div>


                                <p>We will be sending shipping confirmation email when the item shipped successfully!</p>
                                <p class="font-weight-bold mb-0">Thanks for shopping with us!</p>
                                <span>Reflection Team</span>



                            

                        </div>
                        <a href="/v1/user-orders-view">Go to orders</a>


                        <div class="d-flex justify-content-between footer p-3">

                            <span>Need Help? visit our <a href="/"> help center</a></span>
                             <span></span>
                            
                        </div>



            
        </div>
                
            </div>
            
        </div>
        
    </div>